.headerContainer {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

.headerImageLarge {
  min-width: 675px;
  height: 180px;
}

.headerImageSmall {
  min-width: 300px;
  height: 240px;

}

.textContainer {
  width: 40%;
  max-width: 600px;
  min-width: 200px;
  padding: 20px;
  min-width: 300px;
}


@media screen and (max-width: 1230px) {
  .headerImageSmall {
    display: block;
  }
  .headerImageLarge {
    display: none;
  }
}

@media screen and (min-width: 1230px) {
  .headerImageSmall {
    display: none;
  }
  .headerImageLarge {
    display: block;
  }

  .headerContainer {
    width: 1230px;
  }
}