.arrowRight,
.arrowLeft{
  display: block;
  margin: 30px auto;
  width: 25px;
  height: 25px;
  border-top: 4px solid #ffffff;
  border-left: 4px solid #ffffff;
}
.arrowRight{
 transform: rotate(135deg);
}

.arrowLeft{
 transform: rotate(-45deg);
}