.navbar {
  width: 100%;
  min-height: 60px;
  padding: 0 1rem;
  background-color: #881c1c;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.navbarLink {
  margin-left: 1rem;
  color: white;
  text-decoration: none;
}

.navbarLink:hover {
  border-bottom: white 2px solid;
}

.links {
  margin-right: 1rem;
}